include CHANGELOG.md
include CITATION.cff
include CONTRIBUTING.md
include LICENSE
include LICENSING.md
include NOTICE
include ROADMAP.md
include SECURITY.md
include TRADEMARKS.md
include requirements.txt
include requirements-dev.txt
include requirements-release.in
include requirements-release.txt
recursive-include benchmarks *.py
recursive-include docs *.md
recursive-include examples *.py
recursive-include scripts *.py
recursive-include tests *.py
